$show-image-br: 700;
$tile-mattress-breakpoints: (
    $show-image-br: 2,
    800: 3,
    1450: 4,
);


.grid {
    --c-grey: #fff; // inside the grid this is only use to alternate the bg on the tiles, so a cheap way of removing checker board
    
    /*
    * must be multiples of 2
    */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row dense;
    background-color: #efefef;

    @each $width,
    $col in $tile-mattress-breakpoints {
        @media only screen and (min-width: #{$width}px) {
            grid-template-columns: repeat($col, 1fr);
        }
    }

    @media only screen and (max-width: #{$show-image-br}px) {
        .tile>div:nth-child(1) {
            display: none;
        }
    }

    @media only screen and (width <= 700px) {
        h2 {
            margin-top: 1rem;
        }
    }
}


.tile {
    overflow: hidden;
    min-width: 0;
}



.mattressStats {
    margin: var(--gutter-half);
    font-size: 0.9rem;
    white-space: pre-line;

    @include min(md) {
        max-width: 300px;
    }

    tr {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border: none;
        }
    }

    td {
        &:last-child {
            text-align: right;
        }
    }

    h2 {
        height: 4rem;
        margin: 0;
        line-height: 1.5rem;
    }
}