.btn {
  svg {
    font-size: 30px;
  }
}

.overlay {
  --overlay-bg: rgb(0 0 0 / 40%);

  backdrop-filter: blur(4px) saturate(150%);

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.stockList {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.stockItemWrap {
  display: flex;
  align-items: center;
}

.stockItem {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(63 63 60 / 10%);
  color: rgb(63 63 60);
  box-shadow: rgb(63 63 60 / 60%) 0 0 0 1px inset; /// dropshaow to outline radius, works better tahn outline
  cursor: pointer;
}

.img {
  width: 60px;
  height: 42px;
  border-radius: 2px;
  background-size: 60px 42px;
}

.ref {
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}
