.paginator {
  display: none;
  align-items: center;

  @include desktop {
    display: flex;

  }
  svg {
    transform-origin: center center;
  }
}

.resultCount {
  display: none;

  @include desktop {
    display: flex;
  }
}


.left svg {
  transform: rotate(180deg);
}

.top svg {
  transform: rotate(270deg);
}