# This was a breaking change with npm v9 C2023. by default local dependancies are now *copied, not symlinked .. but we want it symlinked
# command is "if its a link, DONT install, but keep as a link"
install-links=false