.stats {
  border-collapse: collapse;

  @include desktop {
    // when in destop, drap it up, so that the text is in HZ line with teh next column
    // THis is because the text in the stats table is vertically centered in the cell

    position: relative; // need for desktop to constrain lines
    flex:1;
    flex-basis: auto;
    order: 2;
    margin: 0;
    margin-top: -1rem
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  td {
    vertical-align: top;

    // width: 50%;

    padding:  0.75rem 0;

    &:first-child {
      font-weight: bold;
      text-transform: lowercase;
    }

    &:last-child {
      text-align: right;
    }
  }

}


.was{
  margin-right: 5px;
  text-decoration: line-through;
}

