.formWrap {
  width: 100%;
  max-width: 700px;
  position: relative;

  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  @include desktop() {
    margin-top: -50px;
    min-height: 600px;
  }
  h2 {
    font-size: calc(28px + 12 * (100vw - 300px) / 1600);
    @include mobile(){
      margin-top:0
    }
  }
  input,
  textarea {
    display: block;
    font-family: Arial;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 2px 5px;
    resize: none;
    &:focus,
    &:active {
      outline: 2px solid #000;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldRow {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  label {
    color: #000;
  }
  textarea {
    min-height: 200px;
  }
}

.fieldError {
  color: red;
  min-height: 30px;
  line-height: 30px;
  //outline:1px solid red
}

.submit {
  margin: 20px;
  min-height: 40px;
  background-color: var(--c-main) !important; // otherwise for <button> you get the :focus style when clicked
  color: var(--c-body);
  cursor: pointer;
  // &[disabled] {
  //   opacity: 0.4;
  // }
}

