:root {
  --btn-width :#{$mobileHeaderHeight};
}

// if we use css modules to export the class, it looses the inital prependData/additional data of SASS; so re-add here

.buttonIcon {
  border: none;
  flex-shrink: 0; // if its in a flex layout make sure it dosnt cahnge size
  //background-color: orange;
  padding: 0;
  display: inline-block;


  &:disabled {
    opacity: 0.5;
  }


}

.iconWrap {
  // margin: 0 4px;
  overflow: hidden;
  border-radius: calc($mobileHeaderHeight / 2);
  background-color: transparent;
  display: inline-flex; // imporatnt as it tends to get overidden by the current layout styles
  align-items: center;
  justify-content: center;
  width: var(--btn-width);
  height: $mobileHeaderHeight;

}


.hover {
  @include desktop() {
    border-radius: 99px;
    @include hoverStyle();
  }
}

// .buttonIcon + .buttonIcon{
//   margin-left: 4px;
// }