:root {
  --btn-width :#{$mobile-header-height};
}

// if we use css modules to export the class, it looses the inital prependData/additional data of SASS; so re-add here

.buttonIcon {
  display: inline-block;
  flex-shrink: 0; // if its in a flex layout make sure it dosnt cahnge size
  padding: 0;
  border: none;

  &:disabled {
    opacity: 0.5;
  }
}

.iconWrap {
  display: inline-flex; // imporatnt as it tends to get overidden by the current layout styles
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--btn-width);
  height:$mobile-header-height;
  border-radius: calc($mobile-header-height / 2);
  background-color: transparent;
}

.hover {
  @include desktop {
    border-radius: 99px;

    @include hover-style;
  }
}
