@use "sass:map";
/**
Breakpoints Map
from https://tailwindcss.com/docs/screens
**/
$breakpoints-map: (
    sm: 640px,
    small: 640px,
    tablet: 640px,
    //
    md: 768px,
    medium: 768px,
    //
    lg: 1024px,
    large: 1024px,
    laptop: 1024px,
    //
    xl: 1280px,
    xlarge: 1280px,
    desktop: 1280px,
    // xxl
    xxl: 1536px,
    xxlarge: 1536px,
);


@mixin breakpoint($name) {
    @each $label, $size in $breakpoints-map {
        @if $name == $label {
            @media (min-width: $size) {
                @content;
            }
        }
    }
}


// stylelint-disable --- we dont want @content being re-ordered as it is the overide 
@mixin min($breakpoint) {
    @if map.has-key($breakpoints-map, $breakpoint) {
        @media screen and (min-width: map.get($breakpoints-map, $breakpoint) + 1px) {
            @content;
        }
    }
    @else {
        @warn "#{$breakpoint} is not a valid breakpoint. "+"Valid breakpoints are: #{map.keys($breakpoints-map)}.";
    }
}

@mixin max($breakpoint) {
    @if map.has-key($breakpoints-map, $breakpoint) {
        @media screen and (max-width: map.get($breakpoints-map, $breakpoint)) {
            @content;
        }
    }
    @else {
        @warn "#{$breakpoint} is not a valid breakpoint. "+"Valid breakpoints are: #{map.keys($breakpoints-map)}.";
    }
}


@mixin desktop() {
    @include min(large) {
        @content;
    }
}

@mixin desktopLg() {
    @include min(xlarge) {
        @content;
    }
}

@mixin mobile() {
    @include max(large) {
        @content;
    }
}

@mixin laptop() {
    @include min(large) {
        @content;
    }
}



