$mobileHeaderHeight: 62px;
$topGutter: $mobileHeaderHeight;

$desktopBreakpoint: 1280px;
$shadowHorizontal : 0px 2px 5px rgba(#000, .4);
$mobileCopySideIndent: 20px;
$desktopGutter: $mobileCopySideIndent;

$z-sidenav-mobile : 999;
$z-header: 7000;
