$mobileHeaderHeight: 62px;
$topGutter: $mobileHeaderHeight;

$itemNavbarPadd: 10px;
$itemNavbarHeight: $mobileHeaderHeight + (2 * $itemNavbarPadd);

$serifFont: georgia, serif;
$sideGutter: 5px;


$z-sidenav-mobile : 999;
$gridGap: 15px;
$gridGap: 0;
$mobileCopySideIndent: 20px;
$desktopGutter: $mobileCopySideIndent;

$body-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;

$halfGutter: 50px;

$totalColumnWidth: 1100px;
$maxColumnWidth : 550px;

$sideNavWidth: 320px;
$tableCellVericalPadding: 0.75rem;


$z-header: 7000;
$z-itemnav-mobile: 8000;
$z-sidenav-mobile: 9000;


$shadowHorizontal : 0px 2px 5px  rgba(#000, .4);
$shadowHorizontalUp : 0px -2px 5px rgba(#000, .4);

$sidebarMinWidthDesktop: 350px;


$showImageBr: 700;

$tileMattressBreakpoints: (
    $showImageBr: 2,
    800: 3,
    1450: 4,
);


$include-js-meta-styles: false;

$grid-column-gutter: (
    small: 20px,
    medium: 30px,
);

$desktopBreakpoint: 1280px;


$breakpoints: (
    small: 0,
    medium: 640px,
    large: $desktopBreakpoint,
    xlarge: 1400px,
    xxlarge: 1600px,
);
