.status {
    padding: 0 var(--gutter);
    background-color: #fff;
    font-weight: bold;
    color: var(--c-main);
   //line-height: $mobile-header-height;
    text-transform: uppercase;
    position: absolute;
    bottom:var(--gutter);
    right:var(--gutter);

    @include desktop {
        position: fixed;
        top: $desktop-gutter;
        right: $desktop-gutter;
        z-index: 999;
        height: 65px;
        padding: 0 1rem;
   
   
        font-size: 2.5rem;
        line-height: 65px;
    }
}
