

.item {
  position: relative;

  &:after {
    height: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    content: '';
    box-shadow: $shadowHorizontalUp;
    opacity: 0;
    transition: opacity 0.65 ease;

    .scrolled & {
      opacity: 1;
    }
  }
}

.reorder {
  :first-child {
    order: 1;
    margin-bottom: var(--gutter);
    @include min(md) {
      order: -1;
      margin-bottom:  var(--gutter-half);
    }
  }

  :last-child {
    order: 2;
  }

}


.gallery>div {
  margin-bottom: 1px;
}

