

.item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: $shadow-horizontal-up;
    opacity: 0;
    transition: opacity 0.65 ease;

    .scrolled & {
      opacity: 1;
    }
  }
}

.reorder {
  :first-child {
    order: 1;
    margin-bottom: var(--gutter);

    @include min(md) {
      order: -1;
      margin-bottom:  var(--gutter-half);
    }
  }

  :last-child {
    order: 2;
  }

}


.gallery>div {
  margin-bottom: 1px;
}

