.layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 90px;
}

.slider {
  transform: translate3d(110%, 0, 0);

  /* @keyframes duration | easing-function | delay | name */
  animation-name: initial-slide-in;
  animation-duration: .6s;
  animation-timing-function: ease;
  animation-delay: .2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes initial-slide-in {
  0% {
    transform: translate3d(100px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

// So we can set the vertial position

.panel {
  position: absolute;

  // otherwise, the out of focus panels, push down the hieight if taller than the in focus panel
  top: 0;

  //  @include fixBlurryTextAfterTransform();
  width: 100%;
  min-width: 100%; // VERY important NIGEL, otherwise its dosent *instanly calc the correct width (leaves as auto, then expands to correct when image is loaded)
  min-height: 100vh;
  padding-bottom: $item-navbar-height;
  background-color: white;
  box-shadow: -4px -9px 9px rgb(0 0 0 / 35%);

  &:nth-child(3) {
    transform: translate3d(105%, 0, 0);
  }
}

.swiping {
  position: fixed;
  top: var(--header-h);
  overflow: hidden;
  width: 100vw;
  height: var(--mobile-ht);
}

.active {
  overflow: hidden;
  height: 100vh;
}
