.status {
    padding: 0 var(--gutter);
    background-color: var(--c-main);
    color: #fff;
    font-weight: bold;
    line-height: $mobile-header-height;
    text-transform: uppercase;

    @include desktop {
        position: fixed;
        top: $desktop-gutter;
        right: $desktop-gutter;
        z-index: 999;
        height: 65px;
        padding: 0 1rem;
        background-color: #fff;
        color: var(--c-main);
        font-size: 2.5rem;
        line-height: 65px;
    }
}
