.speedDial {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  height: $mobile-header-height;
  color: inherit;
  color: var(--c-main-font);

  @include mobile{
    --btn-width : 48px
  }

  @include desktop {
    position: fixed;
    top: auto;
    right: $desktop-gutter;
    bottom: $desktop-gutter + $desktop-gutter + $item-navbar-height;
    flex-direction: column;
    height: auto;
    color: #000;

    button {
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-top: 10px;
      border-radius: calc($mobile-header-height / 2);
      background-color: rgba(#fff, 0.6);
      box-shadow: 0 2px 2px rgba(#000, 0.5);
      transition: all 0.3s ease-out 0.1s;
    }

    &:hover {
      button {
        background-color: rgba(#fff, 1);

        .text {
          width: 110px;
          max-width: 200px;
          padding-right: 20px;
        }
      }
    }
  }
}

.text {
  display: none;

  @include desktop {
    display: inline;
    width: 0;
    max-width: 0;
    height: 100%;
    text-align: left;
    white-space: nowrap;
    transition: all 0.3s ease-out 0.1s;
  }
}
