$breakPoint: 500px;

.copy {
    display: flow;
}

.favList {
    --c-bg-hover : #ddd;
    padding: 0;
    margin: var(--gutter) 0;
    li {
        transition: all 0.5s ease-out;
        background-color: #ddd;
        border-bottom: 5px solid #fff;
        border-bottom-width: 5px;
        position: relative;
        opacity: 1;
        display: flex;
        &:hover{
            background-color: #fff;
            cursor: pointer;
        }
        &.out {
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-name: slideOut;
        }
        /**
        RESPONSIVE
        **/
        flex-direction: column;
        @media only screen and (min-width: $breakPoint) {
            flex-direction: row;
        }
    }
}


.imgWrap div {
    width: 100vw;
    @media only screen and (min-width: $breakPoint) {
        width: 200px;
    }

    @media only screen and (min-width: 700px) {
        width: 300px;
    }

    @media only screen and (min-width: 800px) {
        width: 400px;
    }
}

.fav {
    position: absolute;
    right: 0px;
    top: 0px;
}

@keyframes slideOut {
    0% {
        left: 0;
    }

    100% {
        opacity: 0;
        left: 100vw;
        max-height: 0;
        overflow: hidden;
        border-bottom: 0px;
    }
}

.details {
    position: relative;
    padding: 16px;
    flex-grow: 1;
    padding-right: 60px;
    

   
    h2,
    table {
        margin: 0;
        td {
            padding:0;
        }
    }

table{
    max-width:400px
}
    h2 {
        margin-bottom: 20px;
        font-size: 110%;
    }
    @media only screen and (min-width: 1200px) {
        padding-left: var(--gutter-half);
        h2{
            font-size: 140%;
        }
    }
}
