$break-point: 500px;

.copy {
    display: flow;
}

.favList {
    --c-bg-hover : #ddd;

    margin: var(--gutter) 0;
    padding: 0;

    li {
        position: relative;
        display: flex;

        /**
        RESPONSIVE
        **/
        flex-direction: column;
        border-bottom: 5px solid #fff;
        border-bottom-width: 5px;
        background-color: #ddd;
        opacity: 1;
        transition: all 0.5s ease-out;

        @media only screen and (min-width: $break-point) {
            flex-direction: row;
        }

        &:hover{
            background-color: #fff;
            cursor: pointer;
        }

        &.out {
            animation-name: slide-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}


.imgWrap div {
    width: 100vw;

    @media only screen and (min-width: $break-point) {
        width: 200px;
    }

    @media only screen and (width >= 700px) {
        width: 300px;
    }

    @media only screen and (width >= 800px) {
        width: 400px;
    }
}

.fav {
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes slide-out {
    0% {
        left: 0;
    }

    100% {
        left: 100vw;
        overflow: hidden;
        max-height: 0;
        border-bottom: 0;
        opacity: 0;
    }
}

.details {
    position: relative;
    flex-grow: 1;
    padding: 16px;
    padding-right: 60px;

    @media only screen and (width >= 1200px) {
        padding-left: var(--gutter-half);

        h2{
            font-size: 140%;
        }
    }
    

   
    h2,
    table {
        margin: 0;

        td {
            padding:0;
        }
    }

table{
    max-width:400px
}

    h2 {
        margin-bottom: 20px;
        font-size: 110%;
    }
}
