// https://css-tricks.com/dont-overthink-flexbox-grids/
//  This is all we need ... when mobile make BLOCK ... when in columns display:flex
//  & will automatically be even ...

.copy{
  width:100%;
  background-color: white;
}
.flex {
  // display: block;

  @include desktop() {
    display: flex;
    flex-wrap: wrap;
    //gap: 0 var(--gutter); // gap is not great support
    justify-content: space-between;
  }
}

.flex__col {
  // will automatically break into *even columns
  display: flex;
  flex: 1;
  // not 100%, otherwise we cant have multiple columns, as they will lawys try & take 100%; flex-basis: 100%;
  flex-direction: column;

  &--full {
    // will automatically break into *even columns
    // @NK not  100% width , as will bow out the layout when adding margin/padding ... use flex: 10 100%  insteda; width: 100%;
    flex: 10 100%;
  }
}
// May 2021, the 'gap' property is still not wideley used
// 72% https://caniuse.com/flexbox-gap

// Bedsteads is traditional ... older browsers
// So the hack is
// 1. padd the flex wrap,
// 2. add left & right padding to the flex items

// It wont add padding to the flex items that are on the left & right sides ... acheive equal spacing
// https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items

.flex-text {
  max-width: $totalColumnWidth;
  padding: 0 var(--gutter-half);

  > * {
    margin-bottom: var(--gutter);
    padding: 0 var(--gutter-half);
  }
}



