.logotype {
    font-family: Georgia, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
   //@NK logotype uses space ... so having a trasition causes the rest of the layout to transition ... not good transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

