// @value navOpen as navOpen from "sass-loader!../body.module.scss";
// @value navOpen as navOpen from "sass-loader!/src/pages/_document/header-mobile/body.module.scss";

.burgerButton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: $mobile-header-height;
  height: $mobile-header-height;
  margin-left: auto;
  background-color: transparent;
  color: var(--c-main-font);
  fill: currentcolor;

  @include desktop {
    display: none;
  }

}

.hamburger {
  position: relative;
  display: block;
  overflow: hidden;
  width: 46px;
  height: 46px;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  box-shadow: none;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;

  span {
    position: absolute;
    top: 22px;
    left: 13px;
    right: 13px;
    display: block;
    height: 2px;
    background: currentcolor;
    transition: background-color 0.25s 0.2s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentcolor;
      transition-delay: 0.2s, 0s;
      transition-duration: 0.2s, 0.2s;
    }

    &::before {
      top: -6px;
      transition-property: top, transform, background-color;
    }

    &::after {
      bottom: -6px;
      transition-property: bottom, transform, background-color;
    }
  }
}


/**
** MENU OPEN
** i like the transitions here https://www.wisedog.gr/
**/

body[data-nav] {
  .hamburger {
    span {
      background: none;

      &::before,
      &::after {
        background-color: currentcolor;
        transition-delay: 0s, 0.2s;
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }

}