.logo {
  h2 {
    @include mobile {
      margin: 0;
    }

    a {
      display: inline-block;
      width: 100%;
      margin: var(--gutter) 0 var(--gutter) 0;
      font-size: 1.2em;
      text-align: center;
      opacity: 0.8;
    }

    i {
      display: block;
      width: 100%;

      &:first-child {
        font-size: 0.25em;
        line-height: 2.8em;
      }

      &:last-child {
        font-size: 0.65em;
      }
    }
  }
}
