
// font loading; https://github.com/bramstein/fontfaceobserver

body.fonts-loaded *:not(.logotype) {
    font-family: 'Source Sans Pro', sans-serif;

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Open Sans', sans-serif;
    }
}

// only 300, 400, 500, 600 used

// 400 normal


//  latin
// from https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Source Sans Pro';
    src: url("https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2") format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


// from https://fonts.googleapis.com/css2?family=Open+Sans&display=swap


// latin 
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans';
    src: url("https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2") format('woff2');
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
