.header {
  // justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-header;
  display: flex;
  height: $mobile-header-height;
  color: var(--c-main-font);



  @include desktop {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    // put the bg all in one layer so we can fade it in/out
    background-color: var(--c-main);
    box-shadow: $shadow-horizontal;
    opacity: 1;
    transition: all 0.75s ease;
  }

  // back button needs to be flush, so put padding on the logotype  padding-left: var(--gutter);

  a {
    display: flex;
    align-items: center;
  }

  .addPadding {
    padding-left: var(--gutter);
  }


}

@include mobile {
  :global(.header-on)::before {
    opacity: 1;
  }

  :global(.header-off)::before {
    opacity: 0;
  }
}



.backBtn {
  transform: rotate(180deg);
}