@import '/scss/config/index.scss';
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $z-sidenav-mobile;
  overflow: hidden;
  background-color: var(--c-main);
  color: var(--c-main-font);
  width: var(--sidenav-w);
  box-shadow: 0 0 5px #000;

  @include mobile() {
    position: fixed;
    overflow-y: scroll;
    width: calc(100% - 70px);
    max-width: 600px;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-105%); // not 100% need a bit extra for box-shadow
    will-change: transform;

    @media screen and (min-width: 600px) {
      overflow: hidden;
    }
  }
}




body[data-nav] {




  .sidebar {
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
  }
}