.wrap {
    ul {
        padding: 0;

        &:global(.list-disc)  {
            padding-left: 2ch;
        }

    }
}

.rights {
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 16px;
        list-style-type: none;
    }

    span {
        font-weight: bold;
        ;
    }
}