.btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:$mobile-header-height;
  height: $mobile-header-height;
  font-size: 30px;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem
  }
}