.btn {
  width: $mobileHeaderHeight;
  height: $mobileHeaderHeight;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem
  }
}