

main.main { // need the specificty as diffrent from normal <main/>
  position: absolute; // @important; we need is for all absolute child els ... dont remove
  top:  var(--main-t);
  left: auto; // we now use the <OverlayMain/> compoent which has default styling
  right: 0;
  width: var(--main-w); // we now use the <OverlayMain/> compoent which has default styling
  color: var(--c-black);

  @include desktop {
    top: 0;
    min-height: 101vh; // @NK we really do ned this; ie map page needs a scrollbar forced
  }
}

.overlay {
  --menu-bg-c: rgb(0 0 0 / 60%);
}